* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
/*==============================================
Fonts
==============================================*/
h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, Arial, Sans-Serif;
}

/*==============================================
Main Styles
==============================================*/
#popUpContainer {
  height: auto;
  width: 350px;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #131518;
  border: 5px#68F5B2 solid;;
}

#extensionName {
  padding: 10px 0;
  color: #68F5B2;
}

#inputStatus  {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  color: #68F5B2;
  border: 0;
}

#saveButton, #removeButton, #toggleVisibility {
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

#toggleVisibility {
  background-color: #68F5B2;
  color: #000000;
  margin-top: 75px;
}

#saveButton {
  background-color: #68F5B2;
  color: #000000;
  margin-top: 10px;
}

#removeButton {
  background-color: #f0064b;
  color: #000000;
  margin-top: 10px;
}

#userInputField {
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  background-color: #343436 !important;
  color: #757577;
  border-style: none;
}

#homepage {
  color: #68F5B2;
}

#hiddenResetButtonPostitioning {
  margin-top: 15px;
}

/*==============================================
Reload button styles
==============================================*/
#reload {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: none;
}

#reload.isVisible {
  background-color: #000000;
  border: 3px solid #68F5B2 ;
}


/*==============================================
Modal
==============================================*/
#timerWrapper {
  position: fixed;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 390px;
  width: 450px;
  border-radius: 25px;
  background: #ffffff;
  z-index: 10;
  display: none;
  opacity: .9;
  transition: all ease 1s;
}

#headerCopy {
  margin: 30px auto 0 auto;
  display: table;
  font-size: 34px;
  font-weight: 400;
  color: #161616;
  z-index: 11;
}

#timer {
  position: fixed;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: none;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 150px;
  z-index: 11;
}

#continue {
  position: absolute;
  width: 150px;
  color: #fff;
  background: #00A1E0;
  border: none;
  display: none;
  font-size: 20px;
  font-weight: 400; 
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  left: 200px;
  right: 0;
  bottom: 2%;
  border-radius: 25px;
  z-index: 11;
}

#restart {
  position: absolute;
  width: 150px;
  color: #fff;
  background: rgb(3, 45, 96);
  border: none;
  display: none;
  font-size: 20px;
  font-weight: 400; 
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  right: 200px;
  left: 0;
  bottom: 2%;
  border-radius: 25px;
  z-index: 11;
}

#modalBackground {
  display: none;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .7;
  z-index: 9;
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fadeInModal {
  animation: fadeInModal 1s;
  -webkit-animation: fadeInModal 1s;
  -moz-animation: fadeInModal 1s;
  -o-animation: fadeInModal 1s;
  -ms-animation: fadeInModal 1s;
}


/*==============================================
Animation
==============================================*/
@keyframes fadeInModal {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-moz-keyframes fadeInModal {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadeInModal {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-o-keyframes fadeInModal {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-ms-keyframes fadeInModal {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
